#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

/* create new row every 16th square */
.divider {
    width: 100%;
    border: 0;
    height: 0;
}